#m-buttons-main {
    position:fixed;
    z-index: 998;
    right:100px;
    bottom:60px;
    width:70px;
    height:70px;
    z-index:1000;
    border-radius:50px;
    background: #4fbaea url('/_buran/modules/m-buttons/img/phone.svg') 50% no-repeat;
    background-size: 40px;
/*    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-7 -7 38 38'%3e%3cpath fill='%23fff' d='M18.48 22.926l-1.193.658c-6.979 3.621-19.082-17.494-12.279-21.484l1.145-.637 3.714 6.467-1.139.632c-2.067 1.245 2.76 9.707 4.879 8.545l1.162-.642 3.711 6.461zm-9.808-22.926l-1.68.975 3.714 6.466 1.681-.975-3.715-6.466zm8.613 14.997l-1.68.975 3.714 6.467 1.681-.975-3.715-6.467z'/%3e%3c/svg%3e");*/
}

#m-buttons-main:hover {
    cursor: pointer;
}


#m-buttons-main.opened {
    background: #4fbaea url('/_buran/modules/m-buttons/img/close.svg') 50% no-repeat;
    background-size: 30px;
}

#m-buttons-all {
    position:fixed;
    right:100px;
    bottom:250px;
    width:60px;
    height:60px;
    z-index:1000;
    display:none;

}


.chatra {
    background: #4fbaea url('/_buran/modules/m-buttons/img/chatting.svg') no-repeat 50%;
}
.chatra:hover {
    background-color: #45acda
}


.m-buttons-callback {
    background: #ec2b61 url('/_buran/modules/m-buttons/img/callback.svg') no-repeat 50%;
}

.m-buttons-callback:hover {
    background-color: #d82053;
}


#m-buttons-all .m-buttons-btn {
    display:block;
    border-radius:30px;
    width:50px;
    height:50px;
    background-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease 0.2s;
}

#m-buttons-all .m-buttons-whatsapp {
    background:  #01e675 url('/_buran/modules/m-buttons/img/whatsapp.svg') no-repeat 50%;
    background-size: 50px;
}

#m-buttons-all .m-buttons-whatsapp:hover {
    background-color: #07c166;
}

#m-buttons-all .m-buttons-telegram {
    background:  #24A2E0 url('/_buran/modules/m-buttons/img/telegram.svg') no-repeat 45% 50%;
    background-size: 28px;
}
#m-buttons-all .m-buttons-telegram:hover {
    background-color: #1d98d4;
}



#m-buttons-all .m-buttons-viber {
    background:  #7D3DAF url('/_buran/modules/m-buttons/img/viber.svg') no-repeat 50%;
    background-size: 35px;
}

#m-buttons-all .m-buttons-viber:hover {
    background-color: #642b90;
}

#formochka-close {
    width: 20px;
    height: 20px;
    margin: 0 0 0 auto;
    background: url('/_buran/modules/m-buttons/img/close-grey.svg') 100% 0 no-repeat;
    background-size: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
    transition: 0.3s;
}

#formochka-close:hover {
    opacity: 1;
    cursor: pointer;
}

.formochka-wrap {
    width: 460px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 50px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 25px 5px rgb(0 0 0 / 32%);
}

.formochka-wrap h5{
    text-align: center;
}

.formochka-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 30px 30px;
    box-sizing: border-box;
    background: #00000085;
    /* position: absolute; */
    overflow: hidden;
}

.formochka-wrap h3 {
    margin: 10px 0 30px;
    line-height: 120%;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    font-size: 120%;
    margin: 0px 0 20px;
}
.formochka-wrap .input.margin {
    margin-bottom: 20px;
}
.formochka-wrap input {
    display: block;
    width: 100%;
    padding: 15px 15px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-top: 7px;
    margin-bottom: 10px;
}

.formochka-wrap input::placeholder {
    color: #9e9e9e;
}
.formochka-wrap input:focus {
    border: 1px solid #3e3e3e;
    outline: none;
}

.formochka-wrap label {
    /*font-style: italic;*/
    font-size: 15px;
    width: 100%;

}

.formochka-wrap button {
    padding: 10px 20px;
    background: #ec2b61;
    color: #fff;
    font-weight: bold;  
    border: none;
    font-size: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.formochka-wrap button:hover {
    background: #bd0538;
}

.formochka-conf {
    font-size: 12px;
    margin: 0 0 10px;
}
.formochka-conf a {
    text-decoration: underline;
}

.formochka-conf a:hover {
    color: #ec2b61;
    text-decoration: none;
}

#m-buttons-main:before,
#m-buttons-main:after {
    content: " ";
    display: block;
    position: absolute;
    border: 1px solid #4fbaea;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}

#m-buttons-main:after{
    animation-delay: .5s;
}

#m-buttons-main.opened:after,
#m-buttons-main.opened:before { 
  animation: none; 
}

@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}

    @keyframes circles
    {
        0%
        {
            transform: scale(0.5);
            opacity: 0;
        }
        50%
        {
            opacity: 1;
        }
        100%
        {
            transform: scale(1.2);
            opacity: 0;
        }
    }


@media (max-width: 640px) {
    #m-buttons-main {
        /* left: 20px;*/
        right: 25px; 
    }
    
    #m-buttons-all {
        /* left: 20px;*/
        right: 20px; 
    }

    #m-buttons-main {
        width: 60px;
        height: 60px;
        background-size: 30px;
        bottom: 70px;
    }
    
    
    #m-buttons-all {
        bottom: 200px;
    }

    #m-buttons-main.opened {
        background-size: 25px;
    }

    .formochka-wrap {
        width: 90%;
        margin: 0 auto;
        padding: 20px 20px 40px;
    }
}


    /*jivo*/
.globalClass_ebef {
    display: none;
}